@model PointNet.Web.Core.Models.CustomerSettingFormModel

@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<div>
    <h4>Settings for @Model.CustomerName</h4>
    <hr />
        @{
            if (Model.CustomerSettingId == 0)
            {
                @Html.ActionLink("Create settings", "Create", new { id = Model.CustomerId })
            }
            else
            {
                @Html.HiddenFor(model => model.CustomerSettingId)
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SettingsType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SettingsType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Key)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Key)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AppId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AppId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Account)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Account)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Host)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Host)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HostAnother)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HostAnother)
                    </dd>
                </dl>
            }
        }
                
</div>
<p>
    @{
        if (Model.CustomerSettingId > 0)
        {
            @Html.ActionLink("Edit settings", "Edit", new { id = Model.CustomerId })
        }
    }
    
    |
    @Html.ActionLink("Back to Customers", "Index", "Customer")
</p>
